body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

#container .column {
    float: left;
    position: relative;
}

#container .item {

}

#center {
    width: 40%;
    background: grey;
    border-color: black;

}
#left {
    width: 50%;
    margin-left: 0%;
    float: left;
    background: grey;
}
#right {
    width: 50%;
    float: right;
    margin-right: 0%;
    background: cyan;
}

#footer {
    clear: both;
    background: grey;
}

#library {
    clear: both;
    background: black;
}

ul {
    list-style-type: none;
    margin-left: 10px;
    padding-left: 10px;
}
P {
    text-indent: 5%;
    text-align: justify;
}
.tst:hover
{
    color:#666;
}