@model EntityViewer.Models.Weapon

<!DOCTYPE html>
<html>
  <head>
    <title>Inspector</title>
    <style type="text/css"></style>
  </head>
  <body>
    <br>
    <div>
      <div id="container">
        <div id="left_panel" class="column">
            <ul>
              @foreach (var child in Model.Childs)
              {
                  <li><div>@string.Format("Child: {0}", child.GetHashCode())</div></li>
              }
            </ul>
        </div>
        <div id="center" class="column"><p>Children</p></div>
        <div id="right_panel" class="column"><p>Components</p></div>
        <div id="library">Component library</div>
        <div id="footer">Json result</div>
      </div>
    </div>
  </body>
</html>